.main {
    margin-top: 270px; 
}

.search-input{
 
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
    border:1px solid #DFE1E5;
    line-height: 24px;
}
.logo-img{
    margin-bottom: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*display-> o elemento não mudará de lugar*/
    
}
.search-button{
    background-color: #DFE1E5;
    border: 0px solid;
    border-radius: 4px;
   /* display: block;*/
   /* width: 200px;*/
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}


.button-wrapper{
    display: flex;
    justify-content: center;
}

/*body{
    background-color: #FFFFFF;*/
