div{
    margin-top: 200px;
}
.follow-button{
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #0D1114;
    font-size: 14px;
    font-weight: bolder;
    border-color: #D6DEE5;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid #cfd9de;
    display: block;
}